//====================
//全てのフォームのコンテナー
 //====================
.form-container{
    width: auto;
    height: auto;
    text-align: center;
    padding-bottom: $space_5l;
    //====================
    //全てのフォーム
    //====================
    .form{
        margin: 0 auto;
        text-align: center;
        /*.area-msgだけだとフォームの中だけになるので
            registProduct.phpの構造上こうしたスタイルにした*/
        //& > .area-msg{ 
           //display: none;
           //padding:15px 0;
           //color: $color_err;
        //}   
        .area-msg{
            color: $color_err;
            margin-bottom: $space_l;
        }
        .label{
            //フォームに必須項目を明示するタグ
            .label-require{ //必須項目の上のlabelにつける
                margin-left: 5px;
                background: #fe8a8b;
                font-size: $font-size_m;
                padding: 3px, 5px;
                color: $color_white;
                vertical-align: bottom;
            }
        }

        //セレクトボックス
        .selectBox{
            margin-top: $space_l;
            width: 200px;
            height: 40px;
            font-size: $font-size_l;
        }

        //テキストカウントエリアjs用
        .count-text{
            margin-top: $space_l;
        }
         //=============================
        //===== ファイルアップロード系   =======
        //==============================
        //タイトル h2
        .prof-title{
            width: auto;
            height: auto;
            font-size: $font-size_xl;
            margin: $space_m auto;
            z-index: 1;
        }
        .container-sweets{
            width: 33.3%;
            height: 200px;
            float: left;
        }
        .container-prof{
            width: 300px;
            height: 300px;
            border-radius: 300px;
            display: block;
        }

        .imgDrop-container{
            margin: $space_3l auto;
            box-sizing: border-box; 
            border: double 5px $color_default;
            position: relative;

            //画像ドロップエリア　label
            .area-drop{ 
                display: block;
                margin-bottom: 15px;
                width: 100%;
                height: 190px;
                background: #f6f5f4;
                color: #ccc;
                text-align: center;
                line-height: 150px;
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
                

                    &-prof{
                        width: 100%;
                        height: 100%;
                        border-radius: 150px;
                    }
                    &-sweets{
                        width: 100%;
                        height: 100%;
                    }   
            }
            //インプットファイル input
            .input-file{
                opacity: 0;
                position: absolute;
                top:0;
                left:0;
                z-index: 3; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/
                
                &-sweets{
                    width: 100%;
                    height: 190px;
                }    
                &-prof{
                    width: 100%;
                    height: 190px
                }
            }

            //画像表示 img
            .prev-img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                &-sweets{

                }
                &-prof{
                    border-radius: 300px;
                }
            }
        }
    }
    
    //================================
    //===== 入力フォームをサイズ別にデザイン =>>>>そもそも要る？ 
    //================================
        //.input--s{
        //    width: 200px; //金額フォームはhtmlに直接widthのスタイルを適用している
        //    height: 40px;
        //    font-size: $font-size_m;
        //    margin-top: $space_m;
        //    border: double 5px $color_default;
        //}
        //
        ////入力フォーム中  //=>商品名、店名、金額、詳細
        //.input-m{
        //    width: 400px; //金額フォームはhtmlに直接widthのスタイルを適用している
        //    height: 50px;
        //    font-size: $font-size_l;
        //    margin-top: $space_m;
        //    border: double 5px $color_default;
        //}
        ////入力フォーム大 //=>テキストエリア
        //.input-l{
        //    width: 500px;
        //    height: 200px;
        //    margin-top: $space_l;
        //    font-size: $font-size_xl;
        //    border: double 5px $color_default;
        //}


    
    //====================================================//
    //====  各フォームのサイズ別レイアウト  ===================//
    //====================================================//
    
    //== 小サイズのフォーム ==//
    .form-s{
        width: 50%;
        height: auto;
        box-sizing: border-box;
        padding: $space_3l;

        .area-msg{
            color:$color_err;
        }
        label{
            height: auto;
            .input{
                width: 400px;
                height: 30px;
                margin: 10px auto;
                border: double 3px #f1f1f1;
                font-size:$font-size_m;
            }
            .checkbox{
                transform: scale(1.5);
                margin: 0 10px;
            }
        }
    }
    //== 中サイズのフォーム ==//
    .form-m{
        width: 70%;
        height: auto;
        box-sizing: border-box;
        padding: $space_3l;

        label{
            height: auto;
            .input{
                width: 500px;
                height: 50px;
                margin: 15px 0;
                border: double 3px #f1f1f1;
                font-size:$font-size_l;
            }
            .checkbox{
                transform: scale(1.5);
                margin: 0 10px;
            }
        }
    }

    //========================================
    //====  各フォーム固有の背景デザイン  ====================
    //========================================
    .intro-form{
        background-image: linear-gradient(to top, #ffba60 0%, #fffd8e 100%);
    }
    //.prof-form{
        //background-image: linear-gradient(to top, #ffba60 0%, #fffd8e 100%);
    //}
    .pass-form{
        background-image: linear-gradient(to top, #dbdbdb 0%, #888888 100%);
    }
    .login-form{
        margin: $space_3l  auto;
        background-image: linear-gradient(to top, #dbdbdb 0%, #888888 100%);
    }
    .signup-form{
        background-color: $color_gray_light;
    }
    //大会フォームのデザイン
    .withdraw-form{
         background-image: linear-gradient(to top, #dbdbdb 0%, #888888 100%);
    }

    


    //====================================================//
    //====  フォームの位置による分類 ===========================//
    //====================================================//
    
    //右側フォーム
    .form-right{
        float: right;
        background-color: rgb(255, 196, 196);
    }
    //左側フォーム
    .form-left{
        float: left;
        background-color: rgb(255, 196, 196);
    }
}