.panel-list{
    width: auto;
    height: auto;
    //border: 5px double rgb(143, 143, 143);
    display: flex;
    flex-wrap: wrap;
    padding: $space_m ;
    //パネル
    .panel{
        box-sizing: border-box;
        margin-bottom: $space_5l;
        padding: 0 $space_m;
        width: 25%;
        height: 200px;
        color: #333;
        text-decoration: none;
        line-height: 1.2em;
        
        //カーソルが当たった時
        &:hover{
            text-decoration: underline;
        }
        //パネルヘッド
        &-head{
        
            img{
                width: 100%;
                height: 100%;
            }
        }

        //パネルボディ
        &-body{
            width: auto;
            height: auto;
            margin: $space_m auto;
            display: flex;
            justify-content: center;

            &__title{
                font-size: $font-size_l;

                margin: 0;
                &__price{
                    font-size: $font-size_m;
                }
            }
        }
    }
}