.search-result{
    width: auto;
    height: 80px;
    box-sizing: border-box;
    margin-left: 1px;
    padding: $space_xxl ;
    border: 2px solid $color_gray_normal;
    display: flex;
    justify-content: space-between;
}