@charset "UTF-8";
/*Gulp ver4を使う場合には*/
/*home.phpのラッパー
    footerを底に固定するためのCSS*/
.main-contents_wrapper {
  display: flex;
  flex-direction: column; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  body .new-back-content {
    background-image: url(../../../../portfolio_sweetsboard/src/img/homesweets.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    height: 100%; }
    body .new-back-content__title {
      padding: 40px 0;
      text-align: center;
      font-size: 70px;
      color: #FF570D;
      text-shadow: 1px 1px 1px #FFFF44; }
    body .new-back-content__sentence {
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      color: #FFFF44;
      text-shadow: 2px 2px 2px #444; }
  body .new-back-content::before {
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1; }
  body .main_signup {
    width: 70%; }
  body .main_login {
    width: 70%; }
  body .main {
    width: 100%;
    height: auto;
    padding: 0 5%;
    box-sizing: border-box;
    margin: 30px auto; }
    body .main-title {
      text-align: center;
      padding: 40px 0;
      font-size: 30px; }
      body .main-title:before {
        content: '';
        display: inline-block;
        height: 3px;
        width: 400px;
        margin-bottom: 8px;
        margin-right: 25px; }
      body .main-title:after {
        content: '';
        display: inline-block;
        height: 3px;
        width: 400px;
        margin-bottom: 8px;
        margin-left: 25px; }
      body .main-title-myregist:before {
        background: #FFFFBB;
        width: 450px;
        height: 10px; }
      body .main-title-myregist:after {
        background: #FFFFBB;
        width: 450px;
        height: 10px; }
      body .main-title-mypage:before {
        width: 350px;
        height: 3px;
        background: #444; }
      body .main-title-mypage:after {
        width: 350px;
        height: 3px;
        background: #444; }
      body .main-title-regist:before {
        width: 350px;
        height: 3px;
        background: #D3D3D3; }
      body .main-title-regist:after {
        width: 350px;
        height: 3px;
        background: #D3D3D3; }
      body .main-title-passedit:before {
        background: #444; }
      body .main-title-passedit:after {
        background: #444; }
      body .main-title-withdraw:before {
        background: #D3D3D3;
        width: 450px;
        height: 5px; }
      body .main-title-withdraw:after {
        background: #D3D3D3;
        width: 450px;
        height: 5px; }
      body .main-title__orange:before {
        background: #FF8856; }
      body .main-title__orange:after {
        background: #FF8856; }
      body .main-title__signup:before {
        background: #FF8856; }
      body .main-title__signup:after {
        background: #FF8856; }
      body .main-title-yellow:before {
        background: #FFFF44; }
      body .main-title-yellow:after {
        background: #FFFF44; }
      body .main-title__passEdit:before {
        background: #FFFF44; }
      body .main-title__passEdit:after {
        background: #FFFF44; }
    body .main .section-left {
      float: left;
      width: 15%;
      box-sizing: border-box; }
    body .main .section-right {
      float: right;
      width: 85%;
      box-sizing: border-box; }

.footer {
  height: 100px;
  width: 100%;
  margin-top: 30px;
  background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-simpleyellow.jpg");
  text-align: center;
  display: table;
  background-color: #f1f1f1; }
  .footer p {
    display: table-cell;
    font-size: 14px;
    vertical-align: middle; }

.header {
  width: 100%;
  height: 150px;
  background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-simpleyellow.jpg"); }
  .header .site-width {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center; }
    .header .site-width .site-title {
      font-size: 24px;
      margin: 0 50px;
      text-decoration: none;
      font-weight: bold; }
    .header .site-width .top-nav {
      width: auto;
      height: auto;
      display: table;
      table-layout: fixed; }
      .header .site-width .top-nav li {
        display: table-cell; }
        .header .site-width .top-nav li a {
          box-sizing: border-box;
          margin-right: 20px;
          text-align: center;
          text-decoration: none;
          color: #3a3a3a; }

.list {
  width: 100%;
  height: auto; }
  .list__title {
    text-align: center;
    margin-top: 30px;
    font-size: 30px; }
  .list__title:before {
    content: '';
    display: inline-block;
    width: 300px;
    height: 2px;
    background-color: #444;
    margin-right: 15px;
    margin-bottom: 10px; }
  .list__title:after {
    content: '';
    display: inline-block;
    width: 300px;
    height: 2px;
    background-color: #444;
    margin-left: 15px;
    margin-bottom: 10px; }

.fav-list {
  height: 1055px;
  box-sizing: border-box;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-grayheart.jpg");
  overflow: hidden; }
  .fav-list .panel {
    width: 33%;
    height: 300px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 15px; }
    .fav-list .panel:hover {
      background: #fff5c6; }
    .fav-list .panel-head {
      width: 100%;
      height: 250px; }
      .fav-list .panel-head img {
        width: 100%;
        height: 100%;
        border-radius: 10px; }
    .fav-list .panel-body {
      width: auto;
      height: auto;
      text-align: center;
      box-sizing: border-box;
      padding: 10px; }
      .fav-list .panel-body .title {
        color: #444; }

.mysweets-list {
  width: 90%;
  height: auto;
  text-align: center;
  padding: 30px;
  margin: 0 auto 50px auto;
  background-image: url("../../../../portfolio_sweetsboard/src/img/stripe_1.jpg");
  overflow: hidden; }
  .mysweets-list .panel {
    width: 33%;
    height: 400px;
    float: left;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 15px;
    border-radius: 400px; }
    .mysweets-list .panel:hover {
      background-color: #FF8856; }
    .mysweets-list .panel-head {
      width: 100%;
      height: 400px;
      border-radius: 400px; }
      .mysweets-list .panel-head img {
        width: 100%;
        height: 100%;
        border-radius: 400px; }
    .mysweets-list .panel-body {
      width: auto;
      height: auto;
      box-sizing: border-box;
      margin: 15px auto;
      padding: 10px;
      border: 1px solid #FF8856;
      background-color: #FFFFBB; }
      .mysweets-list .panel-body__title {
        display: inline-block;
        width: auto;
        font-size: 18px; }
      .mysweets-list .panel-body__price {
        display: inline-block;
        width: auto;
        font-size: 18px;
        margin-left: 15px; }

.prof-list {
  overflow: hidden;
  background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-whitesquare.jpg");
  height: 1000px;
  margin-bottom: 30px;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444; }

.sidebar {
  display: table;
  float: left;
  box-sizing: border-box;
  width: 15%;
  background-color: #F0F0F0;
  border: 1px solid #444; }
  .sidebar__title {
    width: 100%;
    height: 50px;
    background-color: #003366; }
    .sidebar__title p {
      font-weight: bold;
      color: #FFFF66;
      margin: 0 auto;
      padding: 15px 0 0 50px; }
  .sidebar__menu {
    padding: 30px; }
    .sidebar__menu a {
      color: #444;
      font-size: 14px;
      line-height: 30px;
      display: block;
      text-align: left; }
      .sidebar__menu a:hover {
        background: #FFFF66; }

.prof-sidebar {
  height: 1000px; }

.mypage-sidebar {
  height: 1055px;
  margin-bottom: 30px; }

.home-sidebar {
  height: 819px;
  background-color: #F0F0F0;
  box-sizing: border-box;
  border: 1px solid #444; }
  .home-sidebar__title {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background-color: #003366;
    border-bottom: 2px solid #D3D3D3; }
    .home-sidebar__title p {
      font-weight: bold;
      color: #FFFF66;
      margin: 0 auto;
      padding: 30px 0 0 60px; }
  .home-sidebar__form {
    box-sizing: border-box;
    padding: 15px;
    text-align: center; }
  .home-sidebar .side-contents {
    margin-top: 30px; }
    .home-sidebar .side-contents .title {
      color: #444;
      font-size: 18px;
      margin: 10px auto; }
    .home-sidebar .side-contents .category {
      width: 80%;
      height: 40px;
      font-size: 18px; }
    .home-sidebar .side-contents .sort {
      width: 80%;
      height: 40px;
      font-size: 18px; }

.sweets-detail__info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 50px;
  margin: 15px auto; }
  .sweets-detail__info .name {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 30px;
    border: 2px #FF8856;
    box-sizing: border-box;
    font-size: 24px; }
    .sweets-detail__info .name p {
      margin-top: 5px;
      font-size: 24px; }
  .sweets-detail__info .price {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 10px;
    text-align: center;
    box-sizing: border-box; }
    .sweets-detail__info .price p {
      margin-top: 5px;
      font-size: 24px; }
  .sweets-detail__info .category {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 30px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: double 3px #FF8856; }
    .sweets-detail__info .category p {
      margin-top: 5px;
      font-size: 24px; }
  .sweets-detail__info .like {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 30px; }

.sweets-detail__main {
  width: 90%;
  height: auto;
  margin: 0 auto;
  clear: both; }
  .sweets-detail__main .sweets-imgs-container {
    clear: both;
    width: 100%;
    height: 600px; }
    .sweets-detail__main .sweets-imgs-container .img-main {
      width: 70%;
      float: left;
      box-sizing: border-box;
      padding-left: 30px;
      padding-right: 30px; }
      .sweets-detail__main .sweets-imgs-container .img-main img {
        width: 100%;
        height: 600px;
        box-sizing: border-box;
        border: 7px double #818181; }
    .sweets-detail__main .sweets-imgs-container .img-sub {
      width: 30%;
      float: right;
      box-sizing: border-box;
      padding-right: 30px; }
      .sweets-detail__main .sweets-imgs-container .img-sub img {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        border: 7px double #818181; }
  .sweets-detail__main .comment {
    width: 80%;
    height: 100px;
    margin: 30px auto 0 auto;
    padding: 15px;
    background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-simpleyellow.jpg");
    border: 1px solid #444; }
    .sweets-detail__main .comment p {
      font-size: 24px;
      color: #333; }

.sweets-detail__undermenu {
  width: 100%;
  height: auto;
  display: block;
  text-align: center; }
  .sweets-detail__undermenu .item-left {
    float: left;
    margin: 50px 0;
    margin-left: 30px; }
  .sweets-detail__undermenu .item-right {
    margin: 50px 0;
    margin-right: 30px;
    float: right; }

.form-container {
  width: auto;
  height: auto;
  text-align: center; }
  .form-container .form {
    margin: 0 auto;
    text-align: center;
    /*.area-msgだけだとフォームの中だけになるので
            registProduct.phpの構造上こうしたスタイルにした*/ }
    .form-container .form .area-msg {
      color: #ff3a54;
      margin-bottom: 15px; }
    .form-container .form .label .label-require {
      margin-left: 5px;
      background: #fe8a8b;
      font-size: 14px;
      padding: 3px, 5px;
      color: #f1f1f1;
      vertical-align: bottom; }
    .form-container .form .category_select {
      margin-top: 15px;
      width: 200px;
      height: 40px;
      font-size: 18px; }
    .form-container .form .count-text {
      margin-top: 15px; }
    .form-container .form .prof-title {
      width: auto;
      height: auto;
      font-size: 24px;
      margin: 10px auto;
      z-index: 1; }
    .form-container .form .container-sweets {
      width: 33.3%;
      height: 200px;
      float: left; }
    .form-container .form .container-prof {
      width: 300px;
      height: 300px;
      border-radius: 300px;
      display: block; }
    .form-container .form .imgDrop-container {
      margin: 30px auto;
      box-sizing: border-box;
      border: double 5px #444;
      position: relative; }
      .form-container .form .imgDrop-container .area-drop {
        display: block;
        margin-bottom: 15px;
        width: 100%;
        height: 190px;
        background: #f6f5f4;
        color: #ccc;
        text-align: center;
        line-height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box; }
        .form-container .form .imgDrop-container .area-drop-prof {
          width: 100%;
          height: 100%;
          border-radius: 150px; }
        .form-container .form .imgDrop-container .area-drop-sweets {
          width: 100%;
          height: 100%; }
      .form-container .form .imgDrop-container .input-file {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/ }
        .form-container .form .imgDrop-container .input-file-sweets {
          width: 100%;
          height: 190px; }
        .form-container .form .imgDrop-container .input-file-prof {
          width: 100%;
          height: 190px; }
      .form-container .form .imgDrop-container .prev-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
        .form-container .form .imgDrop-container .prev-img-prof {
          border-radius: 300px; }
  .form-container .form-s {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding: 30px; }
    .form-container .form-s .area-msg {
      color: #ff3a54; }
    .form-container .form-s label {
      height: auto; }
      .form-container .form-s label .input {
        width: 400px;
        height: 30px;
        margin: 10px auto;
        border: double 4px #D3D3D3;
        font-size: 14px; }
      .form-container .form-s label .checkbox {
        transform: scale(1.5);
        margin: 0 10px; }
  .form-container .form-m {
    height: auto;
    box-sizing: border-box;
    padding: 30px; }
    .form-container .form-m h2 {
      font-size: 24px; }
    .form-container .form-m label {
      height: auto; }
      .form-container .form-m label .input {
        width: 500px;
        height: 50px;
        margin: 15px 0;
        border: double 4px #D3D3D3;
        font-size: 18px; }
      .form-container .form-m label .checkbox {
        transform: scale(1.5);
        margin: 0 10px; }
  .form-container .regist-form {
    width: 70%;
    margin: 30px auto;
    background-image: linear-gradient(to top, #FF8856 0%, #FFFFBB 100%); }
  .form-container .default-form {
    width: 70%;
    margin: 30px auto;
    background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-whitesquare.jpg"); }
  .form-container .pass-form {
    width: 70%;
    margin: 30px auto;
    background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-whitesquare.jpg"); }
  .form-container .withdraw-form {
    width: 70%;
    height: 300px;
    margin: 30px auto;
    background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-whitesquare.jpg"); }
    .form-container .withdraw-form .btn-container {
      margin: 40px 0; }
  .form-container .form-right {
    float: right;
    background-color: #ffc4c4; }
  .form-container .form-left {
    float: left;
    background-color: #ffc4c4; }

.btn-container {
  display: inline-block;
  height: auto;
  margin: 15px;
  list-style: none; }
  .btn-container_new {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .btn-container .btn {
    border: 1px solid  #000;
    box-sizing: border-box;
    color: #333333;
    background-color: #F0F0F0; }
    .btn-container .btn :hover {
      text-decoration: none;
      background-color: #FF8856;
      border: 1px solid #FFFF44;
      cursor: pointer; }
    .btn-container .btn-s {
      width: 125px;
      height: 40px;
      padding: 0.5em 1em;
      font-size: 18px; }
    .btn-container .btn-m {
      width: 150px;
      height: 50px;
      padding: 0.5em 1em;
      font-size: 24px; }
    .btn-container .btn-l {
      width: 200px;
      height: 70px;
      padding: 0.7em 1em;
      font-size: 30px; }
    .btn-container .btn-center {
      margin: 0 auto; }
    .btn-container .btn-right {
      float: right; }
    .btn-container .btn-left {
      float: left; }
    .btn-container .btn-new-signup {
      padding: 0.5em 1em;
      border-radius: 90px; }
      .btn-container .btn-new-signup:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-new-login {
      margin-left: 50px;
      padding: 0.5em 1em;
      border-radius: 90px; }
      .btn-container .btn-new-login:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-back {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-back:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-mypage {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-mypage:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-login {
      margin: 10px 0;
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-login:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-logout {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-logout:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-search {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-search:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-regist {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-regist:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-like {
      padding: 0.5em 1em; }
      .btn-container .btn-like:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
      .btn-container .btn-like:active {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-signup {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-signup:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-changeprof {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-changeprof:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-withdraw {
      width: 190px;
      margin: 20px 0;
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-withdraw:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
    .btn-container .btn-delete {
      padding: 0.5em 1em;
      border-radius: 60px; }
      .btn-container .btn-delete:hover {
        background-color: #FF8856;
        border: 1px solid #FFFF44; }
  .btn-container .badge {
    border: 1px solid  #000;
    box-sizing: border-box;
    cursor: pointer; }
    .btn-container .badge-s {
      width: 125px;
      height: 40px;
      font-size: 24px;
      text-align: center; }
    .btn-container .badge-m {
      width: 150px;
      height: 50px;
      text-align: center;
      font-size: 24px; }
    .btn-container .badge-l {
      width: 200px;
      height: 70px;
      text-align: center;
      font-size: 30px;
      padding: 0.7em 1em; }
    .btn-container .badge-center {
      margin: 0 auto; }
    .btn-container .badge-right {
      float: right; }
    .btn-container .badge-left {
      float: left; }
    .btn-container .badge-price {
      background-color: #FFFFBB;
      color: #424242;
      padding: 0.5em 1em; }

.icn-like {
  color: #8f8f8f;
  font-size: 30px; }
  .icn-like:hover {
    cursor: pointer; }
  .icn-like.active {
    color: #FF8856;
    font-size: 30px; }

.board {
  width: 100%;
  height: auto;
  border: double 3px #999; }
  .board .msg-info {
    width: 100%;
    height: auto;
    float: left; }
    .board .msg-info .avatar-container {
      width: 100%;
      height: auto; }
      .board .msg-info .avatar-container .avatar {
        width: 300px;
        height: 300px;
        border-radius: 90%; }
  .board .msg-board {
    width: 100%;
    height: auto;
    float: right; }
    .board .msg-board .msg-left .avatar-container {
      width: auto;
      height: auto; }
      .board .msg-board .msg-left .avatar-container .avatar {
        width: 300px;
        height: 300px;
        border-radius: 90%; }
    .board .msg-board .msg-left .send-date {
      font-size: .5em;
      text-align: left; }
    .board .msg-board .msg-right .avatar-container {
      width: auto;
      height: auto; }
      .board .msg-board .msg-right .avatar-container .avatar {
        width: 300px;
        height: 300px;
        border-radius: 90%; }
    .board .msg-board .msg-right .send-date {
      font-size: .5em;
      text-align: right; }

.pagenation {
  margin-top: 30px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center; }
  .pagenation__list {
    margin-right: 5px;
    display: flex;
    align-items: center; }
    .pagenation__list .list__item {
      margin-right: 5px;
      display: flex;
      align-items: center; }
      .pagenation__list .list__item:last-child {
        margin-right: 0; }
      .pagenation__list .list__item.active a {
        background: #333;
        color: white; }
      .pagenation__list .list__item__link {
        padding: 5px 10px;
        background: #e4e4e4;
        color: black;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif; }
        .pagenation__list .list__item__link:hover {
          background: #333;
          color: white; }

.panel-list {
  width: auto;
  height: 819px;
  box-sizing: border-box;
  background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-grayleaves.jpg");
  padding: 10px;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444; }
  .panel-list .panel {
    display: block;
    float: left;
    box-sizing: border-box;
    margin-bottom: 80px;
    padding: 0 10px;
    width: 25%;
    height: 200px;
    color: #333;
    text-decoration: none; }
    .panel-list .panel:hover {
      text-decoration: none; }
    .panel-list .panel-head img {
      width: 100%;
      height: 100%; }
    .panel-list .panel-body {
      width: 100%;
      height: auto;
      margin: 10px auto;
      display: flex;
      justify-content: center; }
      .panel-list .panel-body:hover {
        background-color: #FFFFAA;
        text-decoration: none; }
      .panel-list .panel-body__title {
        font-size: 18px; }
      .panel-list .panel-body__price {
        font-size: 18px; }

.search-result {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 25px;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  background-image: url("../../../../portfolio_sweetsboard/src/img/pattern-simpleyellow.jpg");
  display: flex;
  justify-content: space-between; }

.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  line-height: 40px; }
