.list{
    width:100%;
    height: auto;
}
    

//お気に入りリスト
.fav-list{
    width: 100%;
    height: auto;
    background-color: $color_paleorange_normal;
    border: 5px solid $color_gray_light;
    overflow: hidden;
    //リストタイトル
    &__title{
        text-align: center;
        margin: $space_l;
        font-size: $font-size_3l;
        text-shadow: 1px 1px 1px $color_orange_normal;
        color: $color_yellow_normal;
    }
     &__title:before{
        content: '';
        display: inline-block;
        width: 300px;
        height: 2px;
        background-color: $color_orange_heavy;
        margin-right: $space_l;
        margin-bottom: $space_m;
    }
    &__title:after{
        content: '';
        display: inline-block;
        width: 300px;
        height: 2px;
        background-color: $color_orange_heavy;
        margin-left: $space_l;
        margin-bottom: $space_m;
    }

    .panel{
        width: 33%;
        height: 300px;
        float: left;
        box-sizing: border-box;
        margin-bottom: $space_l; //15px
        padding: $space_l; //15px;

        &:hover{
            background: #fff5c6;
        }
        &-head{
            width: 100%;
            height: 250px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        &-body{
            width: auto;
            height: auto;
            text-align: center;
            box-sizing: border-box;
            padding: $space_m;
        }
    }
    
}
//マイスイーツリスト（出品したスイーツ）
//TODO: float: left;ではなくflexboxでデザインしてみる
.mysweets-list{
    width: 90%;
    height: auto;
    text-align: center;
    padding: $space_3l;
    margin: 0 auto $space_5l auto;
    background-color: $color_gray_light;
    overflow: hidden;

    //リストタイトル
    &__title{
        margin: $space_l;
        font-size: $font-size_xl;
        color: #fff5c6;
        //TODO:フォントファミリー指定
    }

    //リストのパネル
    .panel{
        width:  33%;
        height: 400px;
        float: left;
        box-sizing: border-box;
        margin-top: $space_5l;
        margin-bottom: $space_5l;
        padding: 0 $space_l; 
        border-radius: 400px;
        
        &:hover{
            border: 4px double $color_orange_heavy;
            background-color: $color_orange_normal;
        }

        &-head{
            width: 100%;
            height: 400px;
            border-radius: 400px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 400px;
            }
        }

        &-body{
            width: auto;
            height: auto;
            box-sizing: border-box;
            margin: $space_l auto;
            padding: $space_m;
            border: 1px solid $color_orange_normal;
            background-color: $color_paleorange_normal;
        
            &__title{
                display: inline-block;
                width: auto;
                font-size: $font-size_xl;
            }
            &__price{
                display: inline-block;
                width: auto;
                font-size: $font-size_l;
                margin-left:  $space_l;
            }
        }
    }
}
//掲示板リスト
.board-list{
    width: 100%;
    height: auto;
    background-color: red;
}

//プロフォール編集画面
.prof-list{
    background-color: #FFFFDD;
    overflow: hidden;
    
    //リストタイトル
    &__title{
        font-size: $font-size_xl;
        //TODO:フォントファミリー指定
    }
    //float: right;
    //width: 80%;
    //min-height: 600px;
    //margin: 0 auto;
    //box-sizing: border-box;
    //paddingなどをつけると隣のsidebarと高さが合わない
}